certifi==2022.9.24
charset-normalizer==2.1.1
coloredlogs==15.0.1
flatbuffers==22.10.26
humanfriendly==10.0
idna==3.4
mpmath==1.2.1
numpy==1.23.5
onnxruntime==1.13.1
packaging==21.3
Pillow==9.3.0
protobuf==4.21.9
pyparsing==3.0.9
requests==2.28.1
sympy==1.11.1
urllib3==1.26.12
vk-api==11.9.9
vk-captchasolver==1.0.0
vkaudiotoken==0.5.1
